.likeButtonOn{
    color: black;
    background-color: red;
    width: fit-content;
    height: fit-content;
}

.likeButtonOff{
    color: black;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}
