.likeButtonOn{
    color: red;
    background-color: red;
    width: 2%;
    height: auto;
}

.likeButtonOff{
    color: transparent;
    background-color: aliceblue;
    width: 2%;
    height: auto;
}
