.page{
    background-color: lightgreen;
}

.page > h1{
    background: green;
    border-left: 2vw solid darkgreen;
    color: black;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 4vw;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
    text-align: center;
}

.page > h1 > .logo-picture{
    max-width: 10%;
    margin-left: auto; 
    margin-right: 0;
    float: right;
    outline: none;
}

.post-list{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}