.comment-list{
    width: 100%;
    height: fit-content;
    padding: 1vw;
    margin: auto;
    display: inline-block;
}

.comment-list > .comment{
    width: 80%;
    height: fit-content;
    padding: 0.2vw;

    display: inline-block;
    margin: auto;
}

