.Comment{
  width: 90%;
  height: fit-content;
  padding: 1vw;
  border: 0.2vw solid rgb(6, 162, 22);
  background-color: rgb(21, 172, 36);
  border-radius: 0.5vw;
  margin: auto;

  display: inline-block;
  
}